* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  background: #121114;
}

body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#scene {
  box-shadow: 0 0 2px#c0c0c0;
}

#map {
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: left top;
  transform: scale(.4);
}